{% extends "base.html" %}
{% block head %}
<h1>WEsley</h1>

{% endblock %}

{% block body %}
<body>
<div style="width: 100%; height: 100%; position: relative; background: white;">
    <div style="width: 521px; height: 228px; left: 30px; top: 190px; position: absolute; color: rgba(26, 118, 187, 0.87); font-size: 80px; font-family: Irish Grover; font-weight: 400; word-wrap: break-word">COLLEGE<br/>PATHFINDER</div>
	<!--this make it clickable for the box-->
    <div style="width: 903px; height: 1024px; left: 528px; top: 0px; position: absolute; opacity: 0.50; background: #E3E3E3"><a href="PMdashboard.html">
        <div style="width: 323px; height: 135px; left: 46px; top: 65px; position: absolute; background: #2E80BC; border-radius: 4px">
            <div style="width: 323px; height: 135px; left: 0px; top: 0px; position: absolute; background: #5183B8; box-shadow: 0px 0px 4px rgba(134, 134, 134, 0.15); border-radius: 4px; border: 1px solid"></div>
            <div style="width: 197px; height: 64px; left: 111px; top: 36px; position: absolute">
                <div style="width: 160px; height: 37px; left: 0px; top: 0px; position: absolute; color: white; font-size: 20px; font-family: Lato; font-weight: 400; letter-spacing: 0.40px; word-wrap: break-word">For PM</a></div>
                <div style="width: 197px; height: 29px; left: 0px; top: 35px; position: absolute; color: rgba(255, 255, 255, 0.60); font-size: 16px; font-family: Lato; font-weight: 400; letter-spacing: 0.32px; word-wrap: break-word">All the resource for program managers</div>
            </div>
            <div style="width: 73px; height: 92px; left: 20px; top: 30px; position: absolute">
                <div style="width: 57.79px; height: 52.13px; left: 15.21px; top: 6.13px; position: absolute; background: #F7F7F7"></div>
                <div style="width: 27.38px; height: 27.60px; left: 6.08px; top: 18.40px; position: absolute; background: #F7F7F7"></div>
                <div style="width: 39.54px; height: 26.13px; left: 0px; top: 41.34px; position: absolute; background: #F7F7F7"></div>
                <div style="width: 21.29px; height: 3.07px; left: 38.02px; top: 15.33px; position: absolute; background: #F7F7F7"></div>
                <div style="width: 27.37px; height: 3.07px; left: 38.02px; top: 24.53px; position: absolute; background: #F7F7F7"></div>
                <div style="width: 27.37px; height: 3.07px; left: 38.02px; top: 33.73px; position: absolute; background: #F7F7F7"></div>
                <div style="width: 11.64px; height: 11.73px; left: 33.72px; top: 38.60px; position: absolute; background: #F7F7F7"></div>
            </div>
            <div style="width: 100px; height: 100px; left: 93px; top: -11px; position: absolute"></div>
        </div>
        <div style="width: 903px; height: 132px; left: 0px; top: 891px; position: absolute; background: #769DE8"></div>
        <div style="width: 342px; height: 11px; left: 49px; top: 661px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">True Student Stories<br/><br/></div>
        <div style="width: 102.76px; height: 29.56px; left: 746.27px; top: 66px; position: absolute">
			<a href="signin.html">
            <div style="width: 102.76px; height: 29.56px; left: 0px; top: 0px; position: absolute; border-radius: 2px; border: 1px #0067B3 solid"></div>
            
			<div style="width: 73.69px; height: 22.17px; left: 14.53px; top: 4.22px; position: absolute; color: #0067B3; font-size: 12px; font-family: Lato; font-weight: 400; text-transform: uppercase; line-height: 16px; letter-spacing: 0.12px; word-wrap: break-word">Sign In</a></div>
			
			
			
			
			
			
        </div>
        <div style="width: 102.76px; height: 29.56px; left: 746.27px; top: 170px; position: absolute">
            <div style="width: 102.76px; height: 29.56px; left: 0px; top: 0px; position: absolute; border-radius: 2px; border: 1px #0067B3 solid"></div>
            <div style="width: 73.69px; height: 22.17px; left: 14.53px; top: 4.22px; position: absolute; color: #0067B3; font-size: 12px; font-family: Lato; font-weight: 400; text-transform: uppercase; line-height: 16px; letter-spacing: 0.12px; word-wrap: break-word">read more</div>
        </div>
        <div style="width: 103.79px; height: 29.56px; left: 747.27px; top: 118px; position: absolute">
            <div style="width: 103.79px; height: 29.56px; left: 0px; top: 0px; position: absolute; background: #0067B3; border-radius: 2px; border: 1px #0067B3 solid"></div>
            <div style="width: 74.73px; height: 22.17px; left: 14.53px; top: 4.22px; position: absolute; color: white; font-size: 12px; font-family: Lato; font-weight: 400; text-transform: uppercase; line-height: 16px; letter-spacing: 0.12px; word-wrap: break-word">read more</div>
        </div>



        <div style="left: 731px; top: 846px; position: absolute; color: black; font-size: 12px; font-family: Lato; font-weight: 400; text-transform: uppercase; line-height: 16px; letter-spacing: 0.12px; word-wrap: break-word">read more ...</div>
        <div style="width: 417px; height: 269px; padding-left: 9px; padding-right: 9px; left: 452px; top: 356px; position: absolute; background: white; border-radius: 20px; overflow: hidden; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
            <div style="width: 408px; height: 297px"><span style="color: #0B0C0C; font-size: 18px; font-family: Lato; font-weight: 400; text-transform: uppercase; line-height: 16px; letter-spacing: 0.18px; word-wrap: break-word">Total 1 result:<br/><br/><br/></span><span style="color: #0B0C0C; font-size: 18px; font-family: Lato; font-weight: 400; text-transform: uppercase; line-height: 16px; letter-spacing: 0.18px; word-wrap: break-word">Bellevue College   <br/></span><span style="color: #0B0C0C; font-size: 18px; font-family: Lato; font-weight: 400; text-transform: uppercase; line-height: 16px; letter-spacing: 0.18px; word-wrap: break-word"><br/>In-State Tuition : $2500<br/><br/>Out-of-State Tuition :
      $8,310<br/><br/>Admission Deadline: March 7 2024<br/><br/><br/></span></div>
        </div>
    </div>
    <div style="width: 323px; height: 135px; left: 951px; top: 65px; position: absolute">
        <div style="width: 323px; height: 135px; left: -10px; top: 0px; position: absolute">
            <div style="width: 323px; height: 135px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 0px 4px rgba(134, 134, 134, 0.15); border-radius: 4px; border: 1px #F7F7F7 solid"></div>
            <div style="width: 156px; height: 71px; left: 126px; top: 33px; position: absolute">
                <div style="width: 119px; height: 17px; left: 0px; top: 0px; position: absolute; color: #232323; font-size: 20px; font-family: Segoe UI; font-weight: 400; text-decoration: underline; letter-spacing: 0.40px; word-wrap: break-word">For Students</div>
                <div style="width: 156px; height: 42px; left: 0px; top: 29px; position: absolute; color: #333333; font-size: 16px; font-family: Segoe UI; font-weight: 400; line-height: 20px; word-wrap: break-word">Find all resources for students in one place!</div>
            </div>
        </div>
        <div style="width: 48.79px; height: 72.23px; left: 49px; top: 33px; position: absolute">
            <div style="width: 41.23px; height: 10.75px; left: 3.78px; top: 30.77px; position: absolute; background: #5183B8"></div>
            <div style="width: 21.16px; height: 16.81px; left: 13.81px; top: 15.14px; position: absolute; background: #5183B8"></div>
            <div style="width: 30.62px; height: 21.33px; left: 9.08px; top: 0px; position: absolute; background: #5183B8"></div>
            <div style="width: 38.92px; height: 1.56px; left: 4.93px; top: 70.68px; position: absolute; background: #5183B8"></div>
            <div style="width: 48.79px; height: 27.49px; left: 0px; top: 42.56px; position: absolute; background: #5183B8"></div>
        </div>
    </div>
    <div style="width: 242px; height: 39px; left: 154px; top: 956px; position: absolute"></div>
    <div style="left: 197px; top: 936px; position: absolute; color: black; font-size: 12px; font-family: Lato; font-weight: 400; text-transform: uppercase; line-height: 16px; letter-spacing: 0.12px; word-wrap: break-word">© 2024 CollegePathFinder<br/><br/></div>
</div>

</body>

{% endblock %}