{% extends "base.html" %}
{% block head %}

<title>Notifications</title>
<header>
	<h1>CollegePathFinder</h1>
</header>


{% endblock %}

{% block body %}
<body>

	<h2>Notifications</h2>
	
	
        <section class="notifications">
            <h4>Notifications</h4>
            <!-- Display notifications and alerts here -->
            <ul>
                <li><a href="#">Program requirements for [Program Name] have changed.</a></li>
                <li><a href="#">Application deadline for [Program Name] is approaching.</a></li>
                <!-- Repeat notifications as needed -->
            </ul>
        </section>
	
	    <footer>
        <p>&copy; 2023 CollegePathFinder</p>
    </footer>

</body>

</html>

{% endblock %}