{% extends "base.html" %}

{% block head %}
<title>Search</title>

{% endblock %}

{% block body %}

<hr>

<main>
<h2>Search for College Programs</h2>

<section>

<form action="/search_results" method ="POST">
	
	<label for = "city"> Enter City: </label>
	<!--id="content" is where the app.route grabs info-->
	<input type="text" id="city" name ="city" required>
	<input type = "submit" value = "search city">
</form>

<form action="/response" method="GET">
	
	<input type="submit" value="See all Colleges">
</form>
 
</section>


</main>
{% endblock %}